*{
    padding: 0;
    margin: 0;
}

header {
    width: 100vw;
    text-align: center;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main section {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#display {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: black;
    color: #fff;
    text-align: right;
}
#display span {
    height: 30px;
}
#display input {
    background-color: inherit;
    border: none;
    color: inherit;
    height: 50px;
    text-align: inherit;
    font-size: 20pt;
    box-sizing: border-box;
    padding: 15px;
}
#display input:focus{
    outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
main table {
    width: 100%;
    height: 80%;
    border-spacing: 20px;
}
main table td{
    background-color: rgb(212, 212, 212);
    width: 20%;
    height: 20%;
    text-align: center;
    cursor: pointer;
    box-shadow: 4px 4px 0px 4px rgb(100, 100, 100);
    font-size: 20pt;
}